/*Although stylesheet links are in each HTML, ave these here just in case.
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,500&display=swap');
*/

* {box-sizing: border-box;}

html {
	margin: 0;
	padding: 0;
  font-family: 'Raleway', sans-serif;
	font-size: 10px;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
	padding: 0;
	color: #000;
	background-color: #FBFBFB;
}

.container {
  width: 100%;
	margin: 0 auto;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

section li {list-style-type: disc; list-style-position: inside;}

header {overflow: hidden;}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
	margin: 2.5rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

p, .text-dark-bg, .text-light-bg, .tag, h5 {
	color: black;
	font-size: 1.8rem;
	line-height: 2.6rem;
}

.text-dark-bg, .backtop, .quick-abtme,
.btnline, .f-head, .persona-name, .talk, h5 {font-weight: 500;}

.sec-title, .darkbg-title, .btnline, .f-head,
.backtop, .transpbtn, .filledbtn, .persona-name, button,
h2, h3, h4, h6 {font-family: 'Montserrat', sans-serif;}

h1, .navbar, .moviequote, .talk {font-family: 'Ubuntu', sans-serif;}

.sec-title, .darkbg-title {
  font-weight: 600;
  text-align: left;
}

h1, .darkbg-title, .text-dark-bg,
.quick-abtme, footer {color: #FBFBFB;}

h1 {
	font-weight: bold;
	font-size: 2.6rem;
	line-height: 3.8rem;
	display: flex;
	align-items: center;
}


h2 {font-size: 3.6rem;}

h3 {
  font-size: 3.6rem;
  text-align: center;
}

h4 {
  font-size: 2.8rem;
  text-align: center;
}

h6 {
  font-size: 2.25rem;
	font-weight: bolder;
	font-variant: small-caps;
}

b {
  font-weight: bolder;
	font-style: italic;
}

small, .info-caption {
  font-size: 1.4rem;
	line-height: 2.1rem;
}
.info-caption {
	opacity: 0.7;
	font-style: italic;
	width: 97%;
}

a {
  color: #e2c191;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  transition: 0.3s;
}

.col-md-6 img {
	-webkit-filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.1));
	filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.1));
}

figure {margin: 4rem 0;}

img {
  vertical-align: middle;
  border-style: none;
	width: 100%;
	height: auto;;
}

.imgmax {
	padding-top: 3rem;
	max-height: 28rem;
	width: auto;
}

table {width: 100%;}

.center-align {
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button, input.submission {
	cursor: pointer;
	border: 2px solid #E2C191;
}

.smallbtn, .medbtn, .lrgbtn {
	font-size: 1.8rem;
	height: 5rem;
	line-height: 5rem;
}

.smallbtn {width: 22.5rem !important;}
.medbtn {width: 28.5rem !important;}
.lrgbtn {width: 30.5rem;}

.transpbtn:hover {
  background-color: #C99B57;
  border: 2px solid #C99B57;
  color: #FBFBFB;
  transition: 0.3s;
  text-decoration: none;
}

.btnline {
  line-height: 2.2rem;
  color: #E2C191;
  text-decoration: none;
  border: 2px solid #E2C191;
  background-color: transparent;
}

.filledbtn {
	background: #C99B57;
	border: 2px solid #C99B57;
	box-sizing: border-box;
	color: #FBFBFB;
}
.filledbtn:hover {
	background: #E2C191;
	transition: 0.3s;
	color: #FFF;
}

/*NAVBAR SETUP W/ HAMBURGER MENU AND ANIMATING X*/
.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 .1rem 1rem 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 30;
}

.navbar ul {
  list-style: none;
  overflow: hidden;
}

.navbar ul a {
  display: block;
  border-top: .1rem solid #E2C191;
  color: #FBFBFB;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
}

#first-menu-item {border-top: none;}

.navbar ul a:hover {
  color: #E2C191;
  background-color: #141414;
  transition: all .3s ease;
}

.navbar .logo {
  float: left;
  display: block;
  padding: 1.15rem 0;
}

.navbar .menu {
  clear: both;
  max-height: 0; /*menu essentially doesn't exist*/
  transition: max-height .3s ease-out; /*this would expand out the menu upon click*/
}

/*checkbox will now be listed to the right and will be transformed from burger menu to X*/
.navbar .menu-icon {
  padding: 3.2rem 0;
  position: relative;
  float: right;
  cursor: pointer;
}

.navbar .menu-icon .nav-icon {
  /*this is the child of menu-icon, and will be creating the hamburger icon*/
  background: #E2C191;
  display: block;
  height: .5rem;
  width: 3.3rem;
  position: relative;
  transition: background 0.3s ease-out;
}

.navbar .menu-icon .nav-icon:before,
.navbar .menu-icon .nav-icon:after {
  background: #E2C191;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 1.2rem;
  transition: all .3s ease-out;
}

.navbar .menu-icon .nav-icon:after {top: -1.2rem;}

.navbar .menu-btn {display: none;}

/*when menu is in CHECKED state, look for next available sibling with class of menu and change its max height*/
.navbar .menu-btn:checked~.menu {
  /*because label's "for" matches input's ID, transition can happen*/
  max-height: 25rem;
  padding: 0;
}

button.dropbtn {width: 100%;}

/*Time to animate the hamburger menu*/
.navbar .menu-btn:checked~.menu-icon .nav-icon {background: transparent;}

.navbar .menu-btn:checked~.menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.navbar .menu-btn:checked~.menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

/*dropdown menu from "Work"*/
.dropdown {
  float: initial;
  overflow: hidden;
  display: initial;
}

.dropdown .dropbtn {
	background-color: inherit;
  border: none;
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(20, 20, 20, 0.8);
  min-width: 70%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  border-bottom: 1px solid #c3a77e;
	padding: 2rem 5rem !important;
}
#last-menu-item {border-bottom: none;}

.dropdown:hover .dropbtn {
  background-color: transparent;
  color: #E2C191;
  transition: 0.3s;
}

.dropdown-content a:hover {
  transition: 0.3s;
  color: black;
}

.dropdown:hover .dropdown-content {display: block;}

/*Footer setup*/
footer {
  background: #141414;
  background-image: none;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
	padding: 4rem 0;
}

.f-head {
  font-size: 2.4rem;
}

.f-social {font-size: 3rem;}

.f-social i {
	color: #FBFBFB;
  padding: 0.65rem 0.9rem;
}

.f-social i:hover {
  transition: 0.3s;
  color: #E2C191;
}

.byme {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}
.copr {text-align: center; opacity: 0.5;}

.no-mob, img.cars_miscpic {display: none;}

/*these rules are for chevrons*/
.large-flex, .small-flex {
	display: flex;
	border: 1px solid transparent; /*this helps keep "Back to top" in the case study page centered*/
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.large-flex {flex-grow: 6;}
.small-flex {flex-grow: 1;}

/*back to top underneath Conclusion section*/
i.fas.fa-chevron-up.up {color: #C99B57;}

.backtop {
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
}
.backtop:hover {color: #E2C191; text-decoration: none; transition: 0.3s;}

.hero-bg, .header-bg, .header-art, .poetry-header, .other-header {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero-bg {
	background-image: url(../img/header_resized.jpg);
	height: 60rem;
}

.header-bg {
	background-image: url(../img/me.png);
	background-position: 60% 50%;
	height: 36rem;
}

.header-words {width: 100%;}

.header-hook, .header-hook-short {
	height: 42rem;
	vertical-align: middle;
	display: table-cell;
}

.header-hook-short {height: 30rem;}

.header-hook-short p {padding-bottom: 0;}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
	margin: 0 -1.5rem; /*this lets content line up with left & right edges of navbar content*/
}

.trifold,
.col-md-1, .col-md-2, .col-md-3, .col-md-4,
.col-md-5, .col-md-6, .col-md-7, .col-md-8,
.col-md-9, .col-md-10, .col-md-12 {
  position: relative;
  width: 100%;
	padding: 0 1.5rem;
}

/*margins and paddings here so it's easier to call on in HTML*/
.mb-10 {margin-bottom: 1rem;}

.mb-20 {margin-bottom: 2rem;}

.mb-30 {margin-bottom: 3rem;}

.mb-40 {margin-bottom: 4rem;}

.mb-50 {margin-bottom: 5rem;}

.mt-10 {margin-top: 1rem;}

.mt-20 {margin-top: 2rem;}

.mt-30 {margin-top: 3rem;}

.mt-40 {margin-top: 4rem;}

.mt-50 {margin-top: 5rem;}

.pb-10 {padding-bottom: 1rem;}

.pb-20 {padding-bottom: 2rem;}

.pb-30 {padding-bottom: 3rem;}

.pb-50 {padding-bottom: 5rem;}

.pb-100 {padding-bottom: 10rem;}

.pt-10 {padding-top: 1rem;}

.pt-20 {padding-top: 2rem;}

.pt-30 {padding-top: 3rem;}

.pt-40 {padding-top: 4rem;}

.pt-50 {padding-top: 5rem;}

.pt-60 {padding-top: 6rem;}

.pt-70 {padding-top: 7rem;}

.pt-100 {padding-top: 10rem;}

.ptb-80 {padding: 8rem 0;}

.ptb-50 {padding: 5rem 0;}

/*homepage rules*/
.hero-hook {
  height: 70rem;
  vertical-align: middle;
  display: table-cell;
}

.quick-abtme {
	font-size: 1.6rem;
	line-height: 2.5rem;
	padding: 3rem 0;
}


i.fas.downar.fa-chevron-down {
	color: #debe8f;
	display: block;
	font-size: 3.5rem;
	margin-top: 2rem;
	padding: 0.5rem 1rem;
	text-align: center;
}

#myname {
	color: #E2C191; /*formerly EBD5B5*/
	font-weight: 700;
	letter-spacing: 1px;
}

@keyframes fadeInUp {
    from {transform: translate3d(0,1.5rem,0);}
    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {-webkit-transform: translate3d(0,1.5rem,0);}
    to {
        -webkit-transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.animated {
    animation-duration: 0.75s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
}

.delayed {animation-delay: 1s;}

.delayed2 {animation-delay: 2s;}

.delayed2-1 {animation-delay: 2.25s;}

.animatedFadeInUp {opacity: 0;}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.divequal {
	display: block;
	height: auto;
	text-align: center;
	vertical-align: middle;
}

.caseinfo {align-items: center;}

.projectinfo {
	font-size: 1.8rem;
	line-height: 2.6rem;
}

.bg-darker, .bg-lighter {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
	position: relative;
}

.bg-darker {background-color: #F4F4F4;}

.case1 {z-index: 5;}
.case2 {z-index: 4;}
.case3 {z-index: 3;}

/*Project/case study specific rules*/
.project-header {
	width: 100%;
	display: block;
}
#cloudmindheader {margin-top: -5rem;}

.intro-hook {text-align: center;}

.mobile_semidiv {border: 1px solid #DBDBDB;}

.rightborderdivider, .trifold {border-right: none;}
.unbordered-fold {border-right: none !important;}

.comp-img {
	filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
	-webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
	width: 100%;
}

.persona-img {
	width: 15rem;
	margin: auto;
}

.persona-name {
  font-size: 2.8rem;
	font-variant: small-caps;
  color: #141414;
  text-align: center;
	margin: 1rem 0;
}

.persona-demog {
  text-align: center;
  color: #141414;
}

.tag {
  color: #808589;
  display: inline-block;
  text-align: center;
  width: 45%;
  margin-bottom: 0.3rem;
}

.quote {
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #141414;
}

.quote:before, .quote:after {
	color: rgba(0, 0, 0, 0.25);
	display: inline;
	font-size: 10rem;
	text-align: center;
}

.quote:before {
  line-height: inherit;
  content: "“";
  float: left;
  padding-top: 2.5rem;
	border: 1px solid transparent;
}

.quote:after {
  line-height: 11.7rem;
  content: "”";
  float: right;
  margin-top: -4.5rem;
  margin-right: -2.5rem;
}

.persona-details {
  width: 85%;
  margin: auto;
}

/*.p-0 and .m-0 are corrective implementations to horizontal srcolling/overflow of wireframe images*/
.p-0 {padding: 0;}
.m-0 {margin: 0;}

.bg-dark {background: #141414;}

.wireframebg {
	background-size: cover;
	padding: 15rem 0;
}

#cloudmind-sketch {background: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.1)), url(../img/cloudmind/wireframes/sketches.png); background-size: cover;}
#cloudmind-digital {background: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.1)), url(../img/cloudmind/wireframes/wireframes.png); background-size: cover;}

#pencrumbs-sketch {background: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.1)), url(../img/pencrumbs/wireframes/sketches.png); background-size: cover;}
#pencrumbs-digital {background: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.1)), url(../img/pencrumbs/wireframes/wireframes.png); background-size: cover;}

.brandings {margin-top: 2rem;}

.colors-selected {
  text-align: center;
  display: inline-block;
  margin: 0 0.5rem;
}

.colors-selected p {font-size: 1.2rem;}

.colorbox {
	border: 0.1rem solid #808589;
	box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
	height: 4rem;
	width: 6rem;
}
/*CloudMind colors*/
.b3 {background: #B3E8F8;}
.o9 {background: #094AB2;}
.o1 {background: #01397A;}
.e6 {background: #E67600;}
.f8 {background: #F8D9B8;}
.fb {background: #FBEAD9;}
.ff {background: #FFF1D0;}
.fe {background: #FEFBF3;}
/*Pencrumbs colors*/
.pc1 {background: #2A0447;}
.pc2 {background: #4B1670;}
.pc3 {background: #8223C7;}
.pc4 {background: #C39CEE;}
.pc5 {background: #F8F1FF;}
.sc1 {background: #10781A;}
.sc2 {background: #07D21B;}
.sc3 {background: #DFFFE2;}
.sc4 {background: #FEFFF6;}
/*BusyBus colors*/
.bbpc1 {background: #074C9C;}
.bbpc2 {background: #095AB8;}
.bbpc3 {background: #D8F1F6;}
.bbsc1 {background: #B38B29;}
.bbsc2 {background: #FFCD54;}
.bbsc3 {background: #FAEED2;}
.bbsc4 {background: #FFF5DB;}

#jose-sans {font-family: 'Josefin Sans', sans-serif; font-size: 2.2rem;}
#aleg-sans {font-family: 'Alegreya Sans', sans-serif; font-size: 2.2rem;}

#play-disp {font-family: 'Playfair Display', sans-serif; font-size: 2.2rem;}
#lato {font-family: 'Lato', sans-serif; font-size: 2.2rem;}

@font-face {
	font-family: "Highway Gothic";
	src: url("fonts/HWYGOTH.TTF");
}
#high-goth {font-family: 'Highway Gothic', sans-serif; font-size: 2.2rem;}
#overpass {font-family: 'Overpass', sans-serif; font-size: 2.2rem;}
#oswald {font-family: 'Oswald', sans-serif; font-size: 2.2rem;}

.ideation_img {
	border: 1px solid rgba(226, 193, 145, 0.66);
	border-radius: 0.5rem;
	cursor: pointer;
}

.ideation_img:hover {
	border: 1px solid #C99B57;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}

.busybusmockup {
	max-width: 375px !important;
	height: auto !important;
}

.hifi-mockups {padding: 0 1.5rem;}

.conclusion {padding-bottom: 15rem;}


/*about me page rules*/
#leftbgimg, #rightbgimg {background-image: none;}

.breakarea {background-color: rgba(20, 20, 20, 0.85);}

.minispace, .moviequote {display: inline-flex;}

.minispace {
	width: 10%;
	flex-grow: 1;
}

.moviequote {
	color: #EBDCAD;
	font-size: 2.4rem;
	line-height: 3.2rem;
	padding: 5rem 0.5rem;
	align-items: center;
	text-align: center;

}

/*CONTACT page*/
textarea {resize: none;}

.fullbody {padding: 10rem 0;}

.fullbody .row {padding-top: 5rem;}

.talk {
	color: #E2C191;
	font-size: 3.6rem;
	letter-spacing: 0.15em;
	text-align: center;
}


.contact-statement {
	font-size: 1.9rem;
	line-height: 3.4rem;
}

.form-input {
	border: 1px solid rgba(0, 0, 0, 0.3);
  display: block;
	font-size: 1.8rem;
  padding: 1rem;
  margin-bottom: 3rem;
	width: 30.5rem;
	height: 5rem;
}

textarea.form-input {height: 20rem;}

.no-desk {
	display: block;
	width: 100%;
}

/*ART PAGE*/
.header-art {
	background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../photos/DSC_1123_cover.jpg);
	background-position: 60% 50%;
	height: 40rem;
}
.header-art .header-hook {height: 47rem;}

.instabtn {margin-top: 3rem;}

.tile {
  width: 100%;
  height: 300px;
	margin: 0.5rem auto;
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
	cursor: pointer;
}

.tile.col-md-4-v2 {
	border: 0.5rem solid transparent;
	padding: 0.5rem; /*subject to change to 1rem*/
}
.tile::after {
  content: "";
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.5s, opacity 0.5s;
  transition: visibility 0.5s, opacity 0.5s;
}

.tile:hover::after,
.tile:focus::after {
  visibility: visible;
  opacity: 1;
}

.tile__media {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.tile:hover .tile__media,
.tile:focus .tile__media {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.tile__content {
  top: 50%;
  right: 0;
  left: 0;
	line-height: 3.6rem;
	padding: 2rem;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  color: #FBFBFB;
  font-size: 1.8rem;
  -webkit-transition: visibility 0.5s, opacity 0.5s;
  transition: visibility 0.5s, opacity 0.5s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.tile:hover .tile__content,
.tile:focus .tile__content {
  visibility: visible;
  opacity: 1;
}

.wrapper .tile__content {text-align: center;}

.wrapper::after {
  content: "";
  display: table;
  clear: both;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 15rem;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto; /*consider deleting*/
  background-color: rgba(0,0,0, 0.95);
}
/*clicking outside in the black areas will close overlay*/
.closebg {
	background: transparent;
	position: absolute;
	top: 0;
	width: 100%;
	/*height: calc(100% - 10rem);*/
	height: 100%;
	z-index: 1;
}
/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 105rem;
	z-index: 3;
}

.tallpic {max-width: 46.665rem;} /*consider deleting*/
/* The Close Button */
.close {
  color: #FBFBFB;
  position: fixed;
  top: 5%;
  right: 4%;
  font-size: 6rem;
  font-weight: 500;
	z-index: 3;
}

.close:hover,
.close:focus {
  color: #E2C191;
  text-decoration: none;
	transition: 0.3s;
  cursor: pointer;
}

.mySlides {
  display: none;
	position: relative;
	text-align: center;
}
/* Next & previous buttons */
.prev,
.next {
	background: rgba(0,0,0,0.6);
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 2rem 0.75rem;
	padding-left: 0.6rem;
  margin-top: -3rem;
  color: #FBFBFB;
  font-size: 1.4rem;
  transition: 0.5s ease;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {right: 0;}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #E2C191;
	color: #141414;
}
/* Modal photo captions */
.captiontext {
	background: rgba(0, 0, 0, 0.6);
	bottom: -8rem;
  color: #FBFBFB;
  font-size: 1.4rem;
	font-weight: 500;
  padding: 0.75rem 1rem;
  position: absolute;
	width: 100%;
}

.poetry-header {
	background-image: url(../photos/bw/IMG_0096.jpg);
	height: 30rem;
}

.haiku {text-align: center;}

.haiku img, iframe {
	border-radius: 0.2rem;
	filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
	-webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
}

.other-header {
	background-image: url(../img/header_resized.jpg);
	height: 30rem;
}

.videowrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	height: 0;
}
.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*adding this in for branding ideations*/
.modal-content.forbranding {max-width: 80rem;}

/*RESPONSIVE DESIGN (queries here)*/
/*the bits of code in this query were more convenient to leave as is*/
@media all and (max-width: 767px) {
	.previews-column {display: none;}

	.mob-spaceout {margin-top: 3.5rem;}

	.copr {padding-top: 3rem;}

	.wireframebg button {display: none;}

	.smallersubheader {font-size: 2.2rem;}

	h1,	.form-input, .submission {width: 100%;}

	.projectinfo {padding-top: 1.5rem;}

  .btncenter {text-align: center;}

	.btncenter a {
		text-align: center;
		line-height: 5rem;
		height: 5rem;
	}
}

@media all and (min-width: 500px) {
	.colors-selected {margin: 0 0.75rem;}
}

@media all and (min-width: 576px) {
  .container{
    max-width: 90%; /*was originally 540px*/
  }
}

@media all and (min-width: 568px) and (max-width: 767px) {
	.modal {padding-top: 7rem; padding-bottom: 8rem;}
	.modal-content {width: 75%;}
	.captiontext {bottom: -6rem;}

	.ideation_img {max-width: 75%; height: auto;}
}

@media all and (min-width: 768px) {

	/*ART PAGE refiguring*/
	.modal {
		padding-top: 10rem;
	}
	.tile {
		width: calc(50% - 2rem);
		margin: 1rem;
	}
	.tile__content {font-size: 2.2rem;}
	.instabtn {margin-top: 0;}
	/*Left and right buttons*/
	.prev,
	.next {
	  font-weight: bold;
	  font-size: 2rem;
		margin-top: -5rem;
		padding: 3rem 1rem;
	}
	/* Modal photo captions */
	.captiontext {
		bottom: 0;
	  font-size: 1.6rem;
	  padding: 1rem 2rem;
	}
	/*setting up preview images below main one in overlay form*/
	.previews-column {
	  float: left;
	  width: 11.75%;
		padding: 0 0.5rem;
		margin: 3rem 0;
	}
	.centerimg {
		display: block;
		text-align: center;
		width: 6%;
		max-height: 72px;
		overflow: hidden;
	}

	.demo {
	  opacity: 0.6;
	}

	.active,
	.demo:hover {
		cursor: pointer;
	  opacity: 1;
		transition: 0.5s;
	}

	.close {font-size: 7rem; font-weight: normal;}

	.haiku {padding-top: 10rem;}

	/*General column rules refiguring*/
	.col-md-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}

	.col-md-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-md-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-md-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.col-md-5 {
		-ms-flex: 0 0 41.6666667%;
		flex: 0 0 41.6666667%;
		max-width: 41.6666667%;
	}

	.col-md-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-md-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}

	.col-md-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}

	.col-md-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-md-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}

	.col-md-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	/*Navbar refiguring*/
  .navbar li {float: left;}

  .navbar li a {
    border-top: none;
    padding: 2.5rem 2rem;
  }

  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .navbar .menu-icon {display: none;}

	.dropdown-content {min-width: 25rem;}
	.shorter-drop {min-width: 15rem !important;}

	footer {background-image: url(../img/footer_graphic.svg);}

	.container {max-width: 72rem;}

	.no-desk {display: none;}

	.no-mob {
	  display: block;
	  width: 100%;
	}

	h1 {
	  font-size: 4.5rem;
	  line-height: 6rem;
	}

	.hero-bg {height: 80rem;}
	.hero-hook {height: 87rem;}

	.quick-abtme {
	  font-size: 2.4rem;
	  line-height: 4.2rem;
	}

	i.fas.downar.fa-chevron-down {display: none;}

	.divequal {
	  height: 47rem;
	  display: table-cell;
		text-align: left;
	}

	.projectinfo {
		margin: 3rem 0;
		max-width: 46rem;
	}

	.imgmax {
		max-height: 33rem;
		padding-top: 0;
	}

	#cloudmindhook {margin-bottom: 1rem;}

	#cloudmindheader {margin-top: -14rem;}

	.rightborderdivider {border-right: 1px solid #DBDBDB;}

	.nomobile-pad {padding-left: 3rem;}

	.persona-img {width: 20rem;}

	.brandings {margin-top: 0;}

	.colors-selected {margin: 0 1rem;}

	.colorbox {width: 7rem;}

	.busybusbtn {padding-top: 5rem;}

	.solologo {max-height: 20rem; width: auto;}

	.header-bg, .header-art, .poetry-header {
		background-position: center;
		height: 60rem;
	}

	.poetry-header, .other-header, .header-hook-short {height: 50rem;}

	.header-hook {height: 67rem !important;}

	.moviequote {
	  font-size: 3.6rem;
	  line-height: 5rem;
		flex-grow: 2;
		padding: 5rem 0;
	}

	.fullbody .row {padding: 20% 0;}

	.talk {
		font-size: 4rem;
		text-align: left;
	}

	.contact-statement {
		max-width: 45rem;
		text-align: left;
	}

	img.cars_miscpic {
		display: block;
	  float: left;
	  width: 20rem;
	  margin-top: -20rem;
		-webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
		filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
	}
}

@media all and (min-width: 768px) and (max-width: 999px) {
	.shrinkabit {width: 25rem !important;}
}

@media all and (min-width: 1000px) {
	.col-md-4-v2 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	} /*this is specific to photos in the Art page. Lets you have 3 per row*/

	.tile.col-md-4-v2 {margin: 0;} /*this lets you have 3 images in a row*/

  .container {max-width: 94rem;}
	.narrowcontent {max-width: 84rem !important;}

	.header-words {width: 60%;}

	h2 {font-size: 5rem;}

	.projectinfo {
	  font-size: 2.2rem;
	  line-height: 3.4rem;
	}

	.imgmax {max-height: 47rem;}

	.project-header {
		width: 70%;
		margin: auto;
		text-align: center;
		max-width: 115rem;
		height: auto;
	}

	.no-desk-late {display: none;}

	.floatrightform {float: right;}

	.contact-statement {
		font-size: 2.2rem;
		line-height: 3.8rem;
	}

	.talk {font-size: 5rem;}

	.trifold {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
		border-right: 1px solid #DBDBDB;
	}

	.trifold .persona-details {width: 90%;}
}

@media all and (min-width: 1100px) {
	#leftbgimg {
	  background-image: url(../img/imgfeatures.png);
	  background-size: 20rem;
	  background-repeat: no-repeat;
	  background-position: left;
	}

	#rightbgimg {
	  background-image: url(../img/masjid.jpg);
	  background-size: 20rem;
	  background-repeat: no-repeat;
	  background-position: right;
	}
}

@media all and (min-width: 1300px) {
  .container {max-width: 115rem;}
	.narrowcontent {max-width: 94rem !important;}
	.persona-details.bifold {width: 72%;}
	#cloudmindheader {margin-top: -16rem;}
	.colorbox {width: 9rem;}
	.form-input {width: 40rem;}
	.poetry-header {background-position: 0% 59%;}
}

/*including this again at the end maintains structural integrity. It only works when written this way*/
.container {
  width: 100%;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}
